body {
    font-family: Arial, Helvetica, sans-serif;
    background image:url("https://img.freepik.com/free-photo/top-view-office-supplies-with-copy-space_23-2148236818.jpg?w=996&t=st=1698150879~exp=1698151479~hmac=4539139ff9c2274d02b3ce6c1bbea406fa4db58243d2a08ab216b65da4cf6de9");
  }


.sidenav {
    height: 100%; 
    width: 240px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px;
    margin-top: 48px;
  }
  
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  
  .main {
    margin-left: 240px; 
    padding: 20px 20px;
    font-size: larger;
    margin-top: 48px;
    background image:url("https://img.freepik.com/free-photo/top-view-office-supplies-with-copy-space_23-2148236818.jpg?w=996&t=st=1698150879~exp=1698151479~hmac=4539139ff9c2274d02b3ce6c1bbea406fa4db58243d2a08ab216b65da4cf6de9");
  }
  
  



  .topbar {
    width : 100%;
    height: 48px;
    position: fixed;
    background-color: #111;
    
    
    top: 0;
    left: 0;
    text-align: right;
    
  }

  .topbar a{
    
    
    padding: 13px 20px;
    
 
    color: #818181;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    
  }
  
  .topbar a:hover {
    color: #f1f1f1;
  }





  
    
    
  


  
  
  





  
  
  
